In [1]:
print("Hello Pythonistas!")

Hello Pythonistas!

In [12]:
# Deschidem pycharm, in bara de jos este Terminal
# si acolo scriem comanda:

# pip install jupyter

SyntaxError: invalid syntax (Temp/ipykernel_1236/454659368.py, line 1)

In [ ]:
# Dupa ce ati rulat comanda de mai sus, va puteti deschide jupyter in browser prin:

# jupyter-notebook

In [2]:
# Cand suntenti in terminal/cmd prompt nu puteti sa lucrati cu cursorul (mouse-ul)

In [3]:
# O sa primiti cate un notebook la fiecare ora si va trebui salvat la locatia unde aveti proiectul de Pycharm (C:Users/<some_user>/PycharmProjects/<proj_name>)
# si pe urma sa rulati din terminal: jupyter-notebook

In [8]:
# Limbaje compilate (Java) vs limbaje interpretate (Python)

# Python e un limbaj interpratat - codul e citit si interpretat linie cu linie si transformat in cod masina
# - e foarte importanta indentarea pentru a separa blocurile de cod

In [ ]:
# py -m pip install jupyterlab  - poate rezolva problema instalarii jupyter
# py -m notebook

In [9]:
# py -m pip install jupyter  - poate rezolva problema instalarii jupyter
# py -m jupyter-notebook

In [11]:
print("Hello Pythonistas!")

Hello Pythonistas!

In [14]:
# Com1
# Com2

"""Si acesta este un comentariu,
care se intinde pe mai multe linii"""   # atat commentariu pe mai multe linii, cat si string pe mai multe linii daca e nevoie



'''Si ghimilele simple functioneaza
la fel cu cele duble'''

In [16]:
# Aveti
# mai multe 
# linii
# pe care vreti sa le comentati 


# CTRL+/ - pune comentariu la toate liniile selectate

In [19]:
my_number = 10

# o variabila: e o forma de a stoca date, care are:
# - un nume
# - o valoare 
# - un loc unde e stocata in memorie

In [20]:
my_car = "Tesla"

In [25]:
# Conventii generale din programare pt numele variabilelor:
# snake_case -> cea mai utilizata conventie in Python (la numele variabilelor, la numele functiilor) 
my_number = 10

# PascalCase -> folosita in general la numele claselor 
MyNumber = 11

# camelCase -> folosita uneori la numele metodelor/functiilor claselor 
myNumber = 12

# kebab-case -> nu merge in Python (incearca sa interpreteze - ca un operator)
# my-number = 13

In [26]:
print(MyNumber)   # python e case sensitive

11

In [27]:
a = 'ceva'
A = 'altceva'

a == A

False

In [36]:
# Conventii Python de naming al variabilelor
_var = 100
# var*& = 15  # eroare, simbolurile speciale nu pot fi folosit la numele variabilelor, cu exceptia _
my_var1 = 1
# 2my_var = 11  # numele de variabile nu pot sa incearca cu cifra

In [37]:
my_variable = 10
my_variable = 'Text'   # merge in Python, fiindca py e tipizat dinamic

In [38]:
print(my_variable)

Text

In [39]:
# Tipuri de date
marca = "Dacia"         # str, aka string, (sir de caractere , text)
an_fabricatie = 2022   # int, aka integer (numar intreg de la - infinit la + infinit)
e_inmatriculata = True  # bool, aka boolean (valoare de adevar adevara sau false)
pret = 14999.99         # float (numeri zecimale, cu virgula - la + infi)

In [40]:
x = -5

In [42]:
# Avem variabila marca, dar nu stim exact ce tip de date are....
print(marca)

print(type(marca))   # asa verificam tipul de date al unei variabile

Dacia
<class 'str'>

In [43]:
x = "312"

print(type(x))

<class 'str'>

In [44]:
# Exista o metoda de a transforma variabila x in tipul de date int:

x = int(x)      # type casting
print(type(x))

<class 'int'>

In [47]:
y = 13
# Vrem sa il transf pe y in string:

y = str(y)
print(type(y))

<class 'str'>

In [49]:
x = "312"

# Vreau sa il transform in 312.0 ?
x = float(x)
print(x)

312.0

In [50]:
x = "312a"

# Vreau sa il transform in int..
x = int(x)    # eroare, nu poate fi transf in int daca nu e un numar valid

ValueError: invalid literal for int() with base 10: '312a'

In [51]:
x = 312
x = bool(x)

# bool returneaza True/False
print(x)

# type castingul la bool merge cu orice

True

In [52]:
x = 312
if x:
    print("Da")
else:
    print("Nu")

Da

In [59]:
x = 0
print(bool(x))

False

In [62]:
s = ''   # empty string
bool(s)

False

In [63]:
# Pentru orice tip de date, exista o singura valoare pentru care bool() returneaza False, in rest toate celelalte valori returneaza True
# pt int, val e 0, pt float 0.0, pt str e "", pt list e [],....

In [71]:
print?

In [70]:
print("Hello", "World", sep='-', end='>')  # \n inseamna newline aka ENTER
print("Hello", "Universe", sep='-')

Hello-World>Hello-Universe

str

In [75]:
# Tipuri de date
marca = "Dacia"         
an_fabricatie = 2022   
e_inmatriculata = True 
pret = 14999.99

In [76]:
print(marca)

Dacia

In [77]:
print(pret)

14999.99

In [78]:
print(marca+an_fabricatie)

TypeError: can only concatenate str (not "int") to str

In [79]:
print(marca,an_fabricatie)

Dacia 2022

In [82]:
model = "Duster"

In [83]:
# Vrem sa printam marca si model intr`un singur print:
print(marca+model)    # marca si model sunt ambele string-uri, asa ca merge + intre ele (+ inseamna concatenare)

DaciaDuster

In [88]:
an_fabricatie = 2022
luna = 10

print(an_fabricatie+luna)  # ambele int (numere) asa ca + face suma

2032

In [91]:
# Daca voiam sa printam 202210, cum putem face?
print(str(an_fabricatie) + str(luna))

202210

In [96]:
# Vrem sa afisam urmatorul text, inlocuind ... cu variabila potrivita
# "Mi-am cumparat masina marca <marca> care a costat <pret>"

# v1: concatenare (+ intre stringuri)
print("Mi-am cumparat masina marca " + marca + " care a costat " + str(pret))

# v2: f-string: formatare de string-uri
print(f"Mi-am cumparat masina marca {marca} care a costat {pret}")

Mi-am cumparat masina marcaDaciacare a costat 14999.99
Mi-am cumparat masina marca Dacia care a costat 14999.99

In [98]:
# C01_EX01 (TODO): Cum facem sa afisam valoare lui pi cu doar 2 zecimale?  presupunem pi = 3.146712

Pi are val: 3.146712

In [99]:
# input: functie care permite introducerea de input de la tastatura

In [100]:
x = input("Give me your input: ")

print(x)

Give me your input: qwertyu
qwertyu

In [102]:
nr = input("Input a number: ")  # ce introducem de la tastatura prin input() se evalueaza la string!!  

print(type(nr))

Input a number: 1234
<class 'str'>

In [106]:
my_var = input("Input a number: ")  


print(my_var)

Input a number: int(1234)
int(1234)

In [107]:
my_var

'int(1234)'

In [117]:
# Vrem sa primim un integer de la tastatura pe care sa il ridicam la patrat si sa il afisam,
# iar in cazul in care se introduce un input care nu e numar valid, sa primim eroare

number = input("Input a number: ")

# print(number^2)  # ^ nu e sintaxa python pentru ridicarea la putere

number = int(number)
print(number**2)

Input a number: 3
9

In [115]:
number = int(input("Input a number: "))
print(number**2)

Input a number: 4
16

In [118]:
# string - e un text de unul sau mai multe caractere, este indexat (incapand de la 0)

In [119]:
my_string = "Hello Pythonistas"
# idecsi     012345......... -1

In [120]:
print(my_string[0])

H

In [121]:
print(my_string[5])

In [123]:
print(my_string[-1])

s

In [124]:
print(my_string[-2])

a

In [126]:
my_string.lower()

'hello pythonistas'

In [127]:
len(my_string) # len returneaza numarul de caractere al stringului


# len poate fi folosit pe orice tip de date care are indexi

17

In [135]:
my_string = "Hello Pythonistas"

# Vrem ca stringul sa devina "hello Pythonistas"
# my_string[0] = 'h'  # nu merge, fiindca str e imutabil (nu poate fi modificat)

Hello Pythonistas

In [136]:
# jupyter notebook-ul e un REPL (read-evaluate-print-loop), cand rulezi o bacata de cod, incearca sa printeze automat

In [137]:
my_string[0].lower()
print(my_string)   # chiar daca am incercat sa transform in lower pe primu caracter, stringul in sine a ramas nemodificat

Hello Pythonistas

In [139]:
# cum as putea sa il chiar modific??.... doar prin re-asignare

my_string = "Hello Pythonistas"
my_string = my_string[0].lower() + my_string[1:]  # slicing

print(my_string)

hello Pythonistas

In [140]:
my_string = "Hello Pythonistas"
# indecsi    012345678

# slicing


# vrem sa printam primele 5 caractere din my_string
print(my_string[0:5])
    
# sintaxa slice:
# my_string[index_start:index_stop:step] - unde index_start reprezinta indexul de inceput al slice-ului, index_stop reprezinta
# indexul de oprire (dar nu include indexul in sine), iar step reprezinta pasul cu care sare peste elemente

Hello

In [141]:
print(my_string[0:7])

Hello P

In [142]:
print(my_string[0:8:2])

HloP

In [144]:
print(my_string[0:5])

# alternativa
print(my_string[:5])

Hello
Hello

In [145]:
# Vrem sa afisam ultimele 4 caractere?
my_string = "Hello Pythonistas"

print(my_string[-4:])

stas

In [146]:
# Daca vrem sa afisam stringul Python?
print(my_string[6:12])

Python

In [150]:
# Daca vrem sa afisam ultimele 3 in ordine inversa: "sat"
print(my_string[:-4:-1])

sat

In [151]:
# C01_EX02 (TODO Homework): Avand my_string = "Hello Pythonistas" , vrem sa afisam stringul: "eoyoss"

In [166]:
# Daca vrem sa inlocuim toate caracterele 'o cu '0':
my_string = "Hello Pythonistas"

my_string.replace('o', '0')

print(my_string)   # nu l-am reasignat

my_string = my_string.replace('o', '0')
print(my_string)

Hello Pythonistas
Hell0 Pyth0nistas

In [167]:
# str e imutabil, adica odata creat, nu poate fi modificat!!

In [170]:
my_string = "Hello Pythonistas"
#            0123456789.......

# Vrem sa aflam pozitia/indexul caracterului 'P'
my_string.find("P")

6

In [171]:
my_string.find("o")

4

In [173]:
my_string.index("o")

4

In [175]:
my_string.index("H")

0

In [176]:
my_string.index("z")

ValueError: substring not found

In [177]:
my_string.find("z")

-1

In [178]:
my_string.count("o")

2

In [179]:
my_string.count("z")

0

In [184]:
my_string = "Hello Pythonistas"

my_string.isalpha()  # isalpha returneaza True daca stringul contine doar litere (isalphabetical)

False

In [185]:
my_string = "HelloPythonistas"

my_string.isalpha()

True

In [187]:
my_string = 'Hi123'
my_string.isalnum()

False

In [188]:
my_string = 'Hi123!?'
my_string.isalnum()

False